<div class="row">
  <div class="col-md-12 text-right custom-navbar">
    <i class="fa fa-facebook-square fa-lg icon" (click)="navigateTo(navbarIconListKeys.facebook)"></i>
    <i class="fa fa-instagram fa-lg icon" (click)="navigateTo(navbarIconListKeys.instagram)"></i>
    <i class="fa fa-youtube-square fa-lg icon" (click)="navigateTo(navbarIconListKeys.youtube)"></i>
    <i class="fa fa-twitter-square fa-lg icon" (click)="navigateTo(navbarIconListKeys.twitter)"></i>
    <i class="fa fa-spotify fa-lg icon" (click)="navigateTo(navbarIconListKeys.spotify)"></i>
    <i class="fa fa-soundcloud fa-lg icon" (click)="navigateTo(navbarIconListKeys.soundcloud)"></i>
  </div>
</div>
